@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inika', serif;
}

.nav-bar .logo img{
    margin: -70px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    margin-left: 40px;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 400;
    margin-left: 50px;
}

.info-button button{
    border: none;
    background-color: green;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

.info-button button:hover{
    transform: scale(1.1);
}

.info-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.7rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}


@media screen and (max-width: 1200px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .info-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        text-align: center;
        margin-right: 60px;
    }
    .mobile-menu .info-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .info-button button{
        width: 90%;
    }
    .open{
        display: block;
    }
}