@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inika', serif;
}

    body{
        margin: 0;
    }

    .info{
        background-image: url(../img/Informação.png);
    }

    .desmatamento {
        margin: 0;
        font-size: 40px;
        color: white;
    }

    .colorido {
            color: #73A942;
        }

    .todos{
        padding-left: 20px;
    }

    .imagem{
        width: 479px;
        height: 886px;
    }

    main p{
        color: white;
        font-family: 'Inknut Antiqua', serif;
        font-size: 18px;
        line-height: 300%;
    }

    .arrumacao{
        display: flex;
        align-items: center;
    }

    #texto{
        padding-left: 35px;
    }

    @media screen and (max-width:1200px) {
        .imagem{
            width: 0;
            height: 0;
        }

        #texto{
            padding-left: 5px;
        }
        main p{
            font-size: 16px;
        }
        .desmatamento {
            margin: 0;
            font-size: 30px;
            color: white;
        }
        .info{
            position: relative;
            height: 290vh;
            width: 100vw;
            background:url('../img/Informação.png');
        }
    }