@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inika&family=Inria+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
}
 
 body{
    background-image: url(../img/Fundo\ Home\ \(3\).png);
 }
 .Home{
    width: 100%;
    justify-content: space-between;
    height: 95vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}
.home-content{
    max-width: 700px;
}
.home-content h1{
    color: white;
    font-size: 50px;
    line-height: 1.2;
}
.home-content h3{
font-size: 60px;
color: #73A942;
}
.home-content p{
    color: white;
    font-size: 20px;
    margin: 20px 0 30px;
    font-family: 'Inder', sans-serif;
}
 
.button{
    display: inline-block;
    padding: 10px 28px;
    background: green;
    border: 3px solid #000000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 32px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}
.button:hover{
    background: transparent;
    color: #ffffff;
    border: 3px solid #73A942;
 
}

    @media screen and (max-width:1200px) {

        .button{
            text-align: center;
            font-size: 24px;
        }
        .home-content p{
            color: white;
            font-size: 16px;
            margin: 15px 0 20px;
        }
        .home-content h1{
            color: white;
            font-size: 30px;
            line-height: 1.2;
        }
        .home-content h3{
        font-size: 50px;
        color: #73A942;
        }
    }

    