@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inika', serif;
}

    body{
        background-image: url('img/Curiosidade.png');
        
    }

    main{
        padding: 50px 8% 0;
    }

    h1{
        font-size: 50px;
        color: #73A942;
        font-family: 'Inknut Antiqua', serif;
        text-align: center;
    }
    p{
        font-size: 16px;
        font-family: 'Inknut Antiqua', serif;
        color: white;
        margin-left: 20px;
    
    }
    .curiosidades{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .texto{
        display: flex;
        flex-direction: column;
    }

    .Imagem3{
        width: 327px;
        height: 190px;
    }

    .titulo{
        font-size: 25px;
        margin-right: 20px;
        text-align: left;
        margin-left: 15px;
    }

    @media screen and (max-width:1200px) {
        h1{
            font-size: 40px;
        }
        .titulo{
            font-size: 25px;
            margin-right: 20px;
            margin-left: 0px;
            text-align: center;
        }
        .curiosidades{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
        
    }

    
