@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

    body{
        background:url('img/Group\ 37.png');
    }
    .image{
        display: none;
    }
    p{
        display: none
    }
    .imagens{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .Eric{
        width: 674px;
        height: 203px;
        padding-bottom: 1.5rem;
    }
    .Henrique{
        width: 674px;
        height: 203px;
        padding-bottom: 1.5rem;
    }

    @media screen and (max-width:1200px) {
        .imagens{
            display: none;
        }
        .image{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .image .EricMobile{
            width: 354px;
            height: 453px;
            padding-bottom: 1.5rem;
        }
        .image .HenriqueMobile{
            width: 354px;
            height: 453px;
            padding-bottom: 1.5rem;
        }
    }