@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inika&family=Inria+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inika', serif;
}
    body{
        background-image: url(img/Problemas.png);
    }

    @media screen and (max-width: 1200px) {
        body{
            background-image: url('img/MobileProblemas.png');
        }
    }

    